body {
    margin: 0;
    height: 100%;
    background-color: #f7f7f7;
}

.flexbox {
    display: flex;
    align-items: center;
}

.header {
    padding: 15px 0;
    background-color: white;
    height: 80px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-content a {
    text-decoration: none;
    display: flex;
}

.logo-content img {
    border: 0px solid #42515f;
}

.address-text {
    text-align: left;
    font: normal normal bold 20px/25px Montserrat;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: uppercase;
}

.address-book-text {
    color: #42515f;
}

* {
    box-sizing: border-box;
}

.form-content {
    min-height: calc(100%-80px);
    display: flex;
    justify-content: center;
    align-content: center;
    border: 0px solid green;
    margin-top: 20px;
    margin-bottom: 20px;
}

form {
    width: 65%;
    background: white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-header {
    width: 100%;
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    background: #008CFF 0% 0% no-repeat padding-box;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-body, .form-footer {
    padding: 15px 100px;
}

.form-title {
    margin-left: auto;
    margin-right: auto;
}


.close-button img{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    width: 25px;
    height: 25px;
}

.close-button img:hover{
    background-color: red;
}

/* UC3 */
.row-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 0px solid green;
}

.column-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: left;
    border: 0px solid green;
    margin-bottom: 10px;
}

.column {
    width: 33%;
    margin-right: 15px;
}

select {
    padding: 10px;
    margin-right: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal.form-body, .form-footer {
        padding: 15px 100px;
    }ansparent;
}

select {
    width: 100%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font: normal normal normal 16px/24px Roboto;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    resize: vertical;
}

error-output {
    font-size: 12px;
    font-style: italic;
    color: red;
    margin-top: 10px;
}

.form-footer {
    display: flex;
    margin-bottom: 10px;
    justify-content: flex-end;
    margin-top: 10px;
}

.button {
    font-size: 20px;
    font-family: Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    background: transparent;
    border: none;
    font-weight: 400;
    min-width: 15vw;
    padding: 7px;
    border: 1px solid #707070;
    cursor: pointer;
    border-radius: 5px;
}

.submitButton {
    border: 1px solid green;
    background-color: #f5f5f5;
    margin-right: 30px;
    background-color: lightgreen;
}
.resetButton {
    border: 1px solid blue;
    background-color: lightblue;
}

@media only screen and (max-width: 700px) {
    select {
        font-size: 10px;
        margin-right: 0px;
        height: 35px;
    }
    input {
        height: 35px;
    }
    .form-body, .form-footer {
        padding: 15px;
    }
    .text {
        font-size: 10px;
        padding: 0;
        align-items: baseline;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    select {
        margin-right: 0px;
        height: 35px;
    }
    input {
        height: 35px;
    }
    .text {
        font-size: 10px;
        align-items: baseline;
    }
    .submit-reset {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
}